form, .navbar, .btn, .link, .game-title, .card-title{
    font-weight: bolder ;
}

.card-title{
    font-size: 1.25rem;
}

.game-title{
    color: #ffffff;

}
.game-title:hover{
    text-decoration: none;
    color: #ffffff;
}

.btn, .navbar{
    background-color: #000000;
}

.danger{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.modalContent{
    text-align: center;
}

.fighter-form{
    border: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem;
}

.fighter-default-card{
    border: 0px;
}